.messages {
    display: flex;
}
.contacts  {
    padding: 10px;
}
.contacts a{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.contacts .active {
    color: brown;
    font-size: 20px;
}

.dialog {
    padding: 10px;
}
.newMessagesWrapper{
    display: flex;
}
